<div class="span7" style="text-align:center;margin-left: 0px;position: relative;margin-top: 20px;">
    <div style="border: solid #08C; margin-bottom: 0px;width: 100%;">

        <div style="position: absolute; top: 0px; right: 0px;">
            <a href="#">
                <img style="width: auto;height: auto" src="{{ asset('img/x.png') }}" alt="" />
            </a>

        </div>
        <div class="row-fluid">
            <div class="span3">
                <img style="width: auto;height: auto" src="{{ asset('img/carrito-Camisa-h-2.png') }}" alt="" />
            </div>

            <div class="span2">
                <div style=" padding-top: 5px;">
                    <label class="label_subtitulo">Descripcion</label><br/>
                    <label>Nombre del Producto</label>
                </div>
            </div>

            <div class="span2">
                <div style=" padding-top: 5px;">
                    <label class="label_subtitulo">Precio</label><br/>
                    <label style="font-size: 25px;font-family: Arial !important;margin-bottom: 30px;" id="car_precio_uni"><b>$100</b></label>
                </div>
            </div>

            <div class="span2">
                <div style=" padding-top: 5px;">
                    <label class="label_subtitulo">Cantidad</label><br/>
                    <label class="estilo_cantidad" id="car_cantidad_uni">1</label>
                </div>
            </div>
        </div>
    </div>

</div>