<div class="span7" style="width: 220px;padding-top: 20px;position: relative;margin-left: 10px">              
    <address>
        <strong>Pablo Marmol</strong><br>
        Pablo Mármol 6947 nw 82th av.United<br>
        Transport Services <br>
        Miami,Florida 33166 <br>
        United States <br>
        <div style="text-decoration: underline;padding-top: 10px">
            <a href="#" >Editar</a>
            <a href="#" style="padding-left: 30px;">Eliminar</a>
        </div>
    </address> 
    <a href="#" class="btn boton-agregar-carrito" style="margin-left: 0px !important">ENVIAR A ESTA DIRECCION</a>
</div>

