<ul class="thumbnails" style="margin-left: 0px;">
    <div class="thumbnail clearfix">
        <img src="{{ asset('img/camisacomprada.png') }}" class="pull-left span1" style='margin-right:20px'>
        <div class="caption" style="text-align: left; padding-left: 90px">
            <address>
                <strong>Pablo Marmol</strong><br>
                Pablo Mármol 6947 nw 82th av.United<br>
                Transport Services <br>
                Miami,Florida 33166 <br>
                United States <br>
            </address> 

        </div>
    </div>
</ul>