<div class="row-fluid" style="margin-left: 0px;">
    <div class="span4" style="margin-left: 0px;">
        <ul style="list-style:none outside none; margin-left: 0px;position: relative">
            <li  style="margin-left: 0px;width: 230px">
                <img style="width: 100%;" src="{{ asset('img/team/fotos_sebas1.png') }}" alt="">
            </li>
        </ul>
    </div>
    <div class="span4" style="margin-left: 0px;">
        <ul style="list-style:none outside none; margin-left: 0px;position: relative">
            <li  style="margin-left: 0px;width: 230px">
                <img style="width: 100%;" src="{{ asset('img/team/fotos_sebas2.png') }}" alt="">
            </li>
        </ul>
    </div>
    <div class="span4" style="margin-left: 0px;">
        <ul style="list-style:none outside none; margin-left: 0px;position: relative">
            <li  style="margin-left: 0px;width: 230px">
                <img style="width: 100%;" src="{{ asset('img/team/fotos_sebas3.png') }}" alt="">
            </li>
        </ul>
    </div>
</div>

