<div class="row" style="margin-left: 0px;">
    <div class="span3" style="margin-left: 0px;">
        <ul style="list-style:none outside none; margin-left: 0px;position: relative">
            <li  style="margin-left: 0px;width: 230px">
                <img style="width: 100%;" src="{{ asset('img/video1.png') }}" alt="">
            </li>
        </ul>
    </div>
    <div class="span3" style="margin-left: 0px;">
        <ul style="list-style:none outside none; margin-left: 0px;position: relative">
            <li  style="margin-left: 0px;width: 230px">
                <img style="width: 100%;" src="{{ asset('img/video2.png') }}" alt="">
            </li>
        </ul>
    </div>
    <div class="span3" style="margin-left: 0px;">
        <ul style="list-style:none outside none; margin-left: 0px;position: relative">
            <li  style="margin-left: 0px;width: 230px">
                <img style="width: 100%;" src="{{ asset('img/video3.png') }}" alt="">
            </li>
        </ul>
    </div>
</div>

