<div class="row-fluid" style="margin-bottom: 2.5641%"  >
{%for  persona in personal  %}
    <div class="span3">
        <a href="{{   path('descripcion_team' , { 'id_persona' : persona.id } ) }}">
            <img style="width:100%;" src="{{ asset('uploads/personal/'  ~ persona.imagen ) }}" alt="{{  persona.nombre }}" >
        </a>
    </div>
{% endfor %}    
</div>
  