
<div style="height: 45px;background-image:url('{{  asset('img/separador.png') }}');background-repeat:repeat-x;"></div>



<div id="footer-warpper" class="container-fluid">	
    <div class="row-fluid">
        <div class="span10">
            
            <div class="span1" >
            </div>
            
             <div class="row-fluid">
            
            <div class="span2 offset1 "  >
                <ul class="unstyled">
                    <li  class="span_sumbawa" >PRODUCTOS<li>
                    <li><a class="links_footer" href="#">Hombres</a></li>
                    <li><a class="links_footer" href="#">Mujeres</a></li>
                    <li><a class="links_footer" href="#">Ninos</a></li>
                    <li><a class="links_footer" href="#">Surf</a></li>
                    <li><a class="links_footer" href="#">Skate</a></li>
                </ul>
            </div>

            <div class="span2" style="width: 15%;">
                <ul class="unstyled">
                    <li  class="span_sumbawa" >QUIÉNES SOMOS<li>
                    <li><a class="links_footer" href="{{  path("about") }}" >Credo de Sumbawa</a></li> 						
                </ul>
            </div>

            <div class="span2" style="width: 15%;">
                <ul class="unstyled">
                    <li  class="span_sumbawa" >TIENDAS<li>

                    <li>
                        <a class="links_footer" style="text-align: left;" href="#">Conozca el punto de venta mas cercano a su localidad.</a>
                    </li>

                </ul>
            </div>
            <div class="span2" style="width: 15%;">
                <ul class="unstyled">
                    <li  class="span_sumbawa" >CONTÁCTENOS<li>
                    <li class="links_footer" >Llene el siguiente formulario para que un representante de Sumbawa pueda comunicarse con usted inmediatamente. </li>
                    <li> <a class="btn btn-primary"  style="margin-top: 14px;"   href="#">VER MÁS</a> </li>

                </ul>
            </div>	
            <div class="span2" style="width: 15%;">
                <ul class="unstyled">
                    <li  class="span_sumbawa" >NEWSLETTER<li>
                    <li class="links_footer"  >Registrate a nuestro newsletter y  entérate de las últimas novedades.</li>
                    <li>
                        <div class="input-append" style="margin-top: 14px;" >
                            <input  type="email" placeholder="nombre@mail.com" required>
                            <button class="btn btn-primary" type="button"><i class="icon-ok icon-white"></i></button>
                        </div>
                    </li>

                </ul>
            </div>					
        </div>
        </div>
    </div>
</div>


 