

<div class="row-fluid">
    <h3 class="offset1 span_subtitulos_contenido"><hr>PRODUCTOS</h3>
</div>

<div  class="row" >
  
    <div  class="span1" >
    </div>

 {%  for cat in categorias  %}
    <div class="span2" >
        <ul  style="list-style-type: none;">
            <li>
                <a href="#" >
                    <img style="width: 100%;" src="{{ asset('uploads/categorias/'  ~ cat.imagen ) }}"/>
                    <p href="#" style="text-align: center;" class="link-submenu_productos ">
                {{cat.name}}</p>
                    </a>
                </li>
            </ul>
        </div>
{%  endfor  %}


        <div class="span1" >    
        </div>


    </div>